* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box-parent {
  border: 1px solid blue;
  margin: 10px;
  min-height: 50px;
  padding: 5px;
  gap: 0px;
}
.box-main {
  border: 1px solid red;
  margin: 10px;
  min-height: 500px;
  padding: 5px;
}

.item {
  border: 1px solid blue;
  justify-content: space-around;
}

.itema {
  border: 1px solid orange;
}
